body {
  font-family: "Roboto", sans-serif;
}

.title {
  font-size: 10vmin;
  font-weight: 900;
}

nav {
  font-size: 1.25rem;
  font-weight: 300;
}

h2 {
  font-size: 4rem;
}

input,
textarea,
button {
  font-size: 1rem;
}
